/* Global */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(../public/assets/nft-art-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
  font-family: anime;
  src: url(../public/assets/animeace2_reg.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* homepage */
/* .container {
  padding: 0 2rem;
} */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hometitle{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border: black 2px solid;
  background-color: #f5f5f5;
  border-radius: 1rem;
  text-align: center;
  top: 3rem;
  font-family: anime;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.defaultBox{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: black 2px solid;
  background-color: #f5f5f5;
  border-radius: 1rem;
  text-align: center;
  top: 3rem;
  font-family: anime;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

#homeimgdiv{
  background-color: #333;
  border-radius: 3rem;
  margin-bottom: 5rem;
  box-shadow: rgba(255, 0, 0, 0.3) 0px 19px 38px, rgba(255, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 700px) {
  #homeimgdiv {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#homeimg{
  width: 100%;
  height: auto;
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
} */

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */


/* Navbar */
#title{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#logoimg{
  height:3rem;
  width: 8rem;
}

#title2{
  font-weight: bold;
}
.links{
  position: relative;
  display: inline-block;
  text-align: center;
}
.links a,
.links a:hover,
.links a:focus,
.links a:active {
  color: #fff;
  text-decoration: none;
}
.links a:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      transform-origin: left;
      transform: scaleX(0);
      background-color: red;
      transition: transform 0.5s ease;
  }
.links a:hover::after{
      transition: 0.3s ease all;
      transform: scaleX(1);
  }
.navbar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(255, 0, 0, 0.3) 0px 19px 38px, rgba(255, 0, 0, 0.22) 0px 15px 12px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 0%;
  text-decoration: none;
}

#menu{
  transition: transform .7s ease-in-out;
  background-color: transparent;
  padding-top: 1rem;
  border: none;
}

#menu:hover {
  transform: rotate(90deg);
}
/* Small Navbar */
.small{
  border-radius: 1%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 4rem;
  left: 0.3rem;
  width: 98%;
}

.small .icons2 li {
  float: left;
}

.small .icons2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 0%;
  text-decoration: none;
}

.small .links2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 0%;
  text-decoration: none;
  font-weight: bold;
}

.icons2{
  bottom: 0;
  display: flex;
  justify-items: space-evenly;
}

.icons2 li{
  display: flex;
  justify-self:center;
  margin: 1rem;
}

.links2{
  top: 0;
  left: 0;
}

.divicons2{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 8rem;
}
/* store */
.storeMain{
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* NFT */
.bigBox{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.nftbox{
  border-radius: 1rem;
  border:white 1px solid;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  height:20rem;
  width:15rem;
  text-align: center;
  background-color: #333;
}

.nftimg{
  height: 10rem;
  width: 11rem;
  flex-direction: center;
  border-radius: 1rem;
}

#gpay{
  border-radius: 1rem;
  margin-top: 0.3rem;
  width: 3rem;
  height: 1.5rem;
}

/* login */

.loginbox{
  padding: 1rem 1rem 1rem 1rem;
  border: black 3px solid;
  border-radius: 1rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background-color: #f5f5f5;
  color: black;
}

.loginTitle{
  font-size:3rem;
  margin:0px 0px 0px 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#loginUser{
  width:80%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

#loginUser:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}

#loginPass{
  width:80%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

#loginPass:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}

#loginButton{
  border-radius: 1rem;
  border: black 1px solid;
  width:5rem;
  height:2rem;
}

#loginButton:hover{
  background-color:darkred;
  cursor: pointer;
  color:white;
  border:black 2px solid;
}

/* gpay */

.gpaymain{
  padding: 1rem 1rem 1rem 1rem;
  border: black 3px solid;
  border-radius: 1rem;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: #f5f5f5;
  color: black;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.gpayadd{
  width:30%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

.gpayadd:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}

.gpayid{
  width:10%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

.gpayid:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}


.gpayinput{
  width:20%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

.gpayinput:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}

.gpaysmalltitle{
  font-size:2rem;
  margin:0px 0px 0px 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gpaycard{
  width:30%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

.gpaycard:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}

.gpaysec{
  width:20%;
  border-radius: 1rem;
  border: black 1px solid;
  height:2rem;
  padding-left:1rem;
  font-size:1rem;
}

.gpaysec:focus{
  background-color:darkred;
  color:white;
  border:black 3px solid;
}